Gemfile.lock
.DS_Store
.yardoc/
coverage/
rdoc/
# Ignore yard doc folder
doc/
test/dummy/log/test.log
tmp/
*.sqlite3
*.log
.idea/
spec/reports/*
spec/test_app/config/predicate_mappings.yml
.ruby-version
jetty/
.byebug_history
